<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130051910747-8kvq6ron4ref8vkej7ofrqn91r94lrnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130051910747-8kvq6ron4ref8vkej7ofrqn91r94lrnk</string>
	<key>API_KEY</key>
	<string>AIzaSyCN_ggefdotKFnHnTbDHRIh8NBs-otnAto</string>
	<key>GCM_SENDER_ID</key>
	<string>130051910747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-7ebb6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-7ebb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130051910747:ios:f22a2bffcec41da31ee37e</string>
</dict>
</plist>